<!DOCTYPE html>

<html lang="en">
<head>
    <link href="static/ssages.css" rel="stylesheet" />
    <link href="static/foundation-icons/foundation-icons.css" rel="stylesheet" />
    <link href="static/foundation/css/foundation.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    
    <title>MICCoM Codes</title>
</head>

<body>
    {% block head %}{% endblock %} 
    <script src="static/foundation/js/vendor/jquery.js">
    </script> 
    <script src="static/foundation/js/foundation.min.js">
    </script>

    <nav class="top-bar" data-topbar="" role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1 style="color:#eaeded !important;"><a href="index.html">MICCoM Codes</a>
                </h1>
            </li>
        </ul>


        <section class="top-bar-section">
            <ul class="right">
                <li class="has-dropdown">
                    <a href="#">Menu</a>

                    <ul class="dropdown">
                        <li>
                            <a href="index.html">Home</a>
                        </li>


                        <li>
                            <a href="features.html">Features</a>
                        </li>


                        <li>
                            <a href="team.html">Team</a>
                        </li>


                        <li>
                            <a href="download.html">Download</a>
                        </li>
                        
                        <li>
                            <a href="papers.html">Publications</a>
                        </li>

                        <li>
                            <a href="docs.html">Documentation</a>
                        </li>
                        <!--
                        <li>
                            <a href="validation.html">Validations</a>
                        </li>

                        <li>
                            <a href="tutorials.html">Tutorials</a>
                        </li>
                        -->
                    
                        <li class="active">
                            <a href=
                            "https://github.com/MICCoM/SSAGES-public" target="_blank">SSAGES GitHub</a>
                        </li>


                        <li class="active">
                            <a href="api/index.html" target="_blank">SSAGES API Reference Manual</a>
                        </li>

                        <li class="active">
                            <a href="manual/index.html" target="_blank">SSAGES Documentation</a>
                        </li>

                        <li class="active">
                            <a href=
                            "https://bitbucket.org/COPSS/copss-polarization-public.git" target="_blank">COPSS Polarization Bitbucket</a>
                        </li>

                        <li class="active">
                            <a href=
                            "https://bitbucket.org/COPSS/copss-hydrodynamics-public.git" target="_blank">COPSS Hydrodynamics Bitbucket</a>
                        </li>
 
                        <li class="active">
                            <a href="copss-api/index.html" target="_blank">COPSS-Hydrodynamics API Reference Manual</a>
                        </li>

                        <li class="active">
                            <a href="copss-manual/index.html" target="_blank">COPSS-Hydrodynamics Documentation</a>
                        </li>                   

                        <li class="active">
                            <a href=
                            "https://github.com/MICCoM/DASH-public" target="_blank">DASH GitHub</a>
                        </li>

                        <li class="active">
                            <a href="dash-manual/index.html" target="_blank">DASH Documentation</a>
                        </li>



                        <li class="active">
                            <a href=
                            "http://qboxcode.org/index.htm" target="_blank">Qbox: First-Principles Molecular Dynamics</a>
                        </li>

                        <li class="active">
                            <a href=
                            "http://www.west-code.org" target="_blank">WEST (Without Empty States)</a>
                        </li>


                    </ul>
                </li>
            </ul>
        </section>
    </nav>
    
    <header class="header">
        <a href="http://miccom-center.org"><img class="top-logo-img" src="static/img/miccom_transparent.png" align="middle"></a>
        <!--<h1 class="headline" style="font-size:80px; font-family:"Helvetica Rounded" !important"><b>MICCoM Codes</b>--> 
            <a href="download.html#ssages"><img class="header-logo-img" src="static/img/ssageslogo.jpg"></a>
            <a href="download.html#copss"><img class="header-logo-img" src="static/img/coppslogo_2.png"></a>
            <a href="download.html#dash"><img class="header-logo-img" src="static/img/dash_logo.png"></a>
            <!--<a href="http://www.west-code.org"><img class="header-logo-img" src="static/img/west.png"></a>-->
            <!--<a href="http://qboxcode.org/index.htm"><img class="header-logo-img" src="static/img/qbox_big.png"></a>-->
            <br>


        <ul class="header-subnav">
            <li>
                <a href="index.html">Home</a>
            </li>


            <li>
                <a href="features.html">Features</a>
            </li>


            <li>
                <a href="team.html">Team</a>
            </li>


            <li>
                <a href="download.html">Download</a>
            </li>

            <li>
                <a href="papers.html">Publications</a>
            </li>

            <li>
                <a href="docs.html">Documentation</a>
            </li>
           
            <!--
            <li>
                <a href="validation.html">Validation</a>
            </li>
            
            <li>
                <a href="tutorials.html">Tutorials</a>
            </li>
            -->

            <li>
            </li>
        </ul>
    </header>
    {% block content %}{% endblock %}

    <table style=
    "margin:0;bottom:0;left:0;text-align:center;background-color:#e5e5e5;border:none;border-top:30px solid #800000">
    <tr>
            <td style="text-align:center">
                <a href="http://www.uchicago.edu/" target="_blank"><img class="index-logo" alt=
                "University of Chicago logo" src=
                "static/img/University_of_Chicago_logo.svg.png"></a>
            </td>

            <td style="text-align:center">
                <a href="http://www.anl.gov/" target="_blank"><img class="index-logo" alt=
                "Argonne National Laboratory logo" src=
                "static/img/ANL_H_trans.gif"></a>
            </td>

            <td style="text-align:center">
                <a href="http://www.nd.edu" target="_blank"><img class="index-logo" alt=
                "University of Notre Dame logo" src=
                "static/img/nd_mark_blue_m.png"></a>
            </td>
        </tr>
    </table>


    <footer class="footer">
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <!--<p class="logo"><i class="fi-shield"></i>SSAGES</p>
                <p class="logo"><i class="fi-shield"></i>COPSS</p>
                -->
                <br>
                <br>

                <p class="footer-links">
                <a href="index.html">Home</a> 
                <a href="features.html">Features</a> 
                <a href="team.html">Team</a> 
                <a href="download.html">Download</a> 
                <a href="papers.html">Publications</a>
                <a href="docs.html">Documentation</a> 
                <!--
                <a href="validation.html">Validation</a>
                <a href="tutorials.html">Tutorials</a>
                -->
                </p>

                <br>
                
               
                <p class="copywrite">© 2016-2017 SSAGES/COPSS/DASH Teams</p>
            </div>


            <div class="small-12 medium-6 large-4 columns">
                <ul class="contact">
                    <li>
                        <p><i class="fi-marker"></i>Pritzker School of Molecular Engineering<br>
                        The University of Chicago<br>
                        5801 South Ellis Avenue<br>
                        Chicago, Illinois 60637</p>
                    </li>


                    <li>
                    <p><i class="fi-mail"></i>SSAGES Mailing List <br>COPSS Mailing List <br>DASH Mailing List</p>
                    </li>
                </ul>
            </div>


            <div class="small-12 medium-12 large-3 columns">
               <!-- <p class="about">SSAGES</p>
                <p class="about">COPSS</p> -->

               <br>
               <!--<p class="logo"><i class="fi-shield"></i>SSAGES</p> -->
                <p class="about subheader">SSAGES, COPSS, and DASH are developed by
                Argonne National Laboratory in conjunction with the University
                of Chicago, the University of Notre Dame, and others.</p>


                <div class="inline-list social" style="margin-left: 0.5em">
                    <a href="#"><i class="fi-social-facebook"></i></a><!-- <a href=
                    "#"><i class="fi-social-twitter"></i></a> --> <!--<a href=
                        "#"><i class="fi-social-linkedin"></i></a> --><a href=
                    "https://github.com/MICCoM/SSAGES-public"><i class=
                    "fi-social-github"></i></a> <a href=
                    "https://github.com/MICCoM/DASH-public"><i class=
                    "fi-social-github"></i></a> <a href=
                    "https://bitbucket.org/COPSS/copss-polarization-public.git"><i class=
                    "fi-folder"></i></a><a href=
                    "https://bitbucket.org/COPSS/copss-hydrodynamics-public.git"><i class=
                    "fi-folder"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <script>
    $(document).foundation();
    </script>
</body>
</html>
