<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
</head>

<body>
    {% extends "base.html" %} {% block head %}
    <link href="" rel="stylesheet">{% endblock %} {% block content %} 
    <!-- SSAGES Download -->
    <br>
    <br>


    <div class="row">
        <div class="large-12 columns">
            <div>
                <a href="https://github.com/MICCoM/SSAGES-public"><h1>Download</h1>
                </a>
                <br>
                <br>


                <a href="https://github.com/MICCoM/SSAGES-public"><h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">
                GitHub</h2></a>

                <hr>


                <div class="large-9 columns">
                    <h4 style = "float:left;">
                    SSAGES and COPPS are distributed via our GitHub (this friendly Octocat will take you there!)
                    Instructions for download and
                    installation are available there, as is support and a list of
                    open issue and known bugs.</h4>
                </div>
                
                <a href="https://github.com/MICCoM/SSAGES-public">
                    <img class="download-img" src="static/img/octocat.png" style= "float:right;" width="20%">
                </a>
                <br>
                <br>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- -->
     {% endblock %}
</body>
</html>
