<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
</head>

<body>
    {% extends "base.html" %} {% block head %}
    <link href="" rel="stylesheet">{% endblock %} {% block content %} 
    <!-- SSAGES Download -->
    <br>
    <br>


    <div class="row">
        <div class="large-12 columns">
            <div>
                <h1>Download</h1>
                <br>
                <br>


                <h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">
                GitHub</h2>

                <hr>


                <h4 style=
                "padding-bottom: 0px; padding-top: 0px;">
                SSAGES and COPPS are distributed via our GitHub, a link to
                which is included above. Instructions for download and
                installation are available there, as is support and a list of
                open issue and known bugs.</h4>
                <br>
                <br>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- -->
     {% endblock %}
</body>
</html>
