<!DOCTYPE html>
<html>
<head>
    <title>MICCoM Downloads</title>
</head>

<body>
    {% extends "base.html" %} {% block head %}
    <link href="" rel="stylesheet">{% endblock %} {% block content %} 
    <!-- SSAGES Download -->
    <br>
    <br>


    <div class="row">
        <div class="large-12 columns">
            <div>
                <h1>Download</h1>

                <br>
                <br>


                
                    <h2 style="text-align:center !important;">
                        <a class="download-link" id="ssages">SSAGES GitHub</a>
                    </h2>
                </a>

                <hr>


                <div class="large-8 columns">
                    <h4 style = "float:left;">
                    SSAGES is distributed via our GitHub (this friendly Octocat will take you there!)
                    Instructions for download and
                    installation are available there, as is support and a list of
                    open issues and known bugs.</h4>
                </div>
                
                <div class="large-4 columns">
                    <a href="https://github.com/MICCoM/SSAGES-public"><img class="download-img" src="static/img/octocat.png" width="20%"></a><br> 
                </div>

                <hr>
                <br>
                <br>
                
               
                    <h2 style="text-align:center !important;">
                        <a class="download-link"id="copss">COPSS Polarization Bitbucket</a>
                    </h2>
                </a>

                <hr>


                <div class="large-8 columns">
                    <h4 style = "float:left;">
                    COPSS Polarization is distributed via our Bitbucket (this friendly bucket will take you there!)
                    Instructions for download and
                    installation are available there, as is support and a list of
                    open issues and known bugs.</h4>
                </div>
                 
                <div class="large-4 columns">               
                    <a href="https://bitbucket.org/COPSS/copss-polarization-public.git"><img class="download-img" src="static/img/bitbucket.svg"></a><br>
                </div>

                <hr>
                <br>
                <br>
                
              
                    <h2 style="text-align:center !important;">
                        COPSS Hydrodynamics Bitbucket
                    </h2>
                </a>

                <hr>


                <div class="large-8 columns">
                    <h4 style = "float:left;">
                    COPSS Hydrodynamics is distributed via our Bitbucket (this friendly bucket will take you there!)
                    Instructions for download and
                    installation are available there, as is support and a list of
                    open issues and known bugs.</h4>
                </div>
                
                <div class="large-4 columns">               
                    <a href="https://bitbucket.org/COPSS/copss-hydrodynamics-public.git"><img class="download-img" src="static/img/bitbucket.svg"></a><br>
                </div>

                <hr>
                <br>
                <br>

                    <h2 style="text-align:center !important;">
                        <a class="download-link"id="dash">DASH GitHub</a>
                    </h2>
                </a>

                <hr>


                <div class="large-8 columns">
                    <h4 style = "float:left;">
                    DASH is distributed via our GitHub (this friendly Octocat will take you there!)
                    Instructions for download and
                    installation are available there, as is support and a list of
                    open issues and known bugs.</h4>
                </div>
                 
                <div class="large-4 columns">
                    <a href="https://github.com/MICCoM/DASH-public"><img class="download-img" src="static/img/octocat.png" width="20%"></a><br> 
                </div>

                <hr>
                <br>
                <br>
                
              
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- -->
     {% endblock %}
</body>
</html>
