<!DOCTYPE html>
<html>
<head>
    <title>MICCoM Papers</title></head>
<body>
    {% extends "base.html" %} {% block head %}
    <link href="" rel="stylesheet">{% endblock %} {% block content %} 
    <!-- SSAGES Papers -->
    <br>
    <br>


    <div class="row">
        <div class="large-12 columns">
            <div>
                <h1>Papers (Under Construction)</h1>
                <br>
                <br>


                <h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">
                SSAGES</h2>

                <hr>


                <div class="large-12 columns">
                    <h4 style = "float:left;">
                        <li> SSAGES Paper 1 </li>
                        <li> </li>
                    </h4>
                </div>  
               
                <hr>
                <br>
                <br>
                
                <h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">
                COPSS</h2>

                <hr>


                <div class="large-12 columns">
                    <h4 style = "float:left;">
                        <li>
                        <b>X. Zhao</b>, <b>J. Li</b>, <b>X. Jiang</b>, <b>D. Karpeev</b>, <b>O. Heinonen</b>, B. Smith, <b>J. P. Hernandez-Ortiz</b>, 
                        and <b>J. J. de Pablo</b>, Parallel O(N) Stokes' solver towards scalable Brownian dynaics of 
                        hydrodynamically interacting objects in general geometries, Journal of Chemical Physics, 
                        Accepted, Jun. 2017  
                        </li>
                        <li>
                        <b>X. Jiang</b>, <b>J. Li</b>, <b>X. Zhao</b>, Jian Qin, <b>D. Karpeev</b>, <b>J. P. Hernandez-Ortiz</b>, <b>J. J. de Pablo</b>,
                        and <b>O. Heinonen</b>, An O(N) and parallel approach to integral problems by a kernel-independent fast multipole method: Application 
                        to polarization and magnetization of interacting particles, Journal of Chemical Physics,Accepted, Aug. 2016 
                        </li>
                    </h4>
                </div>  
                
                <hr>
                <br>
                <br>
                
           </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- -->
     {% endblock %}
</body>
</html>
