<!DOCTYPE html>
<html>
<head>
    <title>MICCoM Papers</title></head>
<body>
    {% extends "base.html" %} {% block head %}
    <link href="" rel="stylesheet">{% endblock %} {% block content %} 
    <!-- SSAGES Papers -->
    <br>
    <br>


    <div class="row">
        <div class="large-12 columns">
            <div>
                <h1>Papers (Under Construction)</h1>
                <br>
                <br>


                <h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">
                SSAGES</h2>

                <hr>


                <div class="large-8 columns">
                    <h4 style = "float:left;">
                        <li> SSAGES Paper 1 </li>
                        <li> </li>
                    </h4>
                </div>  
               
                <hr>
                <br>
                <br>
                
                <h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">
                COPSS</h2>

                <hr>


                <div class="large-8 columns">
                    <h4 style = "float:left;">
                        <li> COPSS Paper 1 </li>
                        <li> </li>
                    </h4>
                </div>  
                
                <hr>
                <br>
                <br>
                
           </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- -->
     {% endblock %}
</body>
</html>
