<!DOCTYPE html>
<html>
<head>
    <title>MICCoM Publications</title></head>
<body>
    {% extends "base.html" %} {% block head %}
    <link href="" rel="stylesheet">{% endblock %} {% block content %} 
    <!-- SSAGES Papers -->
    <br>
    <br>


    <div class="row">
        <div class="large-12 columns">
            <div>
                <h1>Publications</h1>
                <br>
                <br>


                <h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">
                SSAGES Projects</h2>

                <hr>


                <div class="large-12 columns">
                    <h4 style = "float:left;">
                        <li>
                            A complete list of papers citing <a href="https://aip.scitation.org/doi/abs/10.1063/1.5008853">SSAGES: Software Suite for Advanced General Ensemble Simulations </a> is available via <a href="https://scholar.google.com/scholar?oi=bibs&hl=en&cites=5275306389380307867&as_sdt=5">Google Scholar</a>.
                        </li>

                        <li>
                        <b>H. Sidky</b> and <b>J. K. Whitmer</b>, Learning Free Energy Landscapes Using Aritificial Neural Networks, Mar. 2018 
						<a href="https://aip.scitation.org/doi/abs/10.1063/1.5018708"><i class="fi-link"></i></a> 
                        </li>

                        <li>
                        <b>H. Sidky</b> and <b>J. K. Whitmer</b>, The Emergent Nematic Phase of Ionic Chromonic Liquid Crystals, 
                        Journal of Physical Chemistry B,  Jun. 2017 <a href="https://pubs.acs.org/doi/abs/10.1021/acs.jpcb.7b03113"><i class="fi-link"></i></a> 

                        </li>
                        <li>
                        <b>V. J. Rathee</b>, S. Qu, W. A. Philip, and  <b>J. K. Whitmer</b>, A coarse-grained thermodynamic model for the predictive engineering of valence-selective membranes, 
                        Molecular Systems Design & Engineering, Aug. 2016 &nbsp<a href="http://dx.doi.org/10.1039/c6me00045b"><i class="fi-link"></i></a> 
                        </li>     
                        <li>
                        <b>H. Sidky</b> and <b>J. K. Whitmer</b>, Elastic properties of common Gay–Berne nematogens from density of states (DOS) simulations, 
                        Liquid Crystals, Jul. 2016 &nbsp<a href="http://dx.doi.org/10.1080/02678292.2016.1201869"><i class="fi-link"></i></a> 
                        </li>               
                        <li>
                        <b>H. Sidky</b> and <b>J. K. Whitmer</b>, Elastic response and phase behavior in binary liquid crystal mixtures, 
                        Soft Matter, Apr. 2016 &nbsp<a href="http://dx.doi.org/10.1039/C5SM03107A"><i class="fi-link"></i></a> 
 
                        </li>                    
                    
                  
                   
                    </h4>
                </div>  
               
                <hr>
                <br>
                <br>
                
                <h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">
                COPSS Projects</h2>

                <hr>


                <div class="large-12 columns">
                    <h4 style = "float:left;">
                        <li>
                        <b>X. Zhao</b>, <b>J. Li</b>, <b>X. Jiang</b>, <b>D. Karpeev</b>, <b>O. Heinonen</b>, B. Smith, <b>J. P. Hernandez-Ortiz</b>, 
                        and <b>J. J. de Pablo</b>, Parallel O(N) Stokes' solver towards scalable Brownian dynaics of 
                        hydrodynamically interacting objects in general geometries, Journal of Chemical Physics, 
                        <i>Accepted</i>, Jun. 2017 
                        </li>
                        <li>
                        <b>X. Jiang</b>, <b>J. Li</b>, <b>X. Zhao</b>, Jian Qin, <b>D. Karpeev</b>, <b>J. P. Hernandez-Ortiz</b>, <b>J. J. de Pablo</b>,
                        and <b>O. Heinonen</b>, An O(N) and parallel approach to integral problems by a kernel-independent fast multipole method: Application 
                        to polarization and magnetization of interacting particles, Journal of Chemical Physics, Aug. 2016 &nbsp<a href="http://dx.doi.org/10.1063/1.4960436"><i class="fi-link"></i></a> 
                        </li>
                    </h4>
                </div>  
                
                <hr>
                <br>
                <br>
               
                <h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">
                DASH Projects</h2>

                <hr>


                <div class="large-12 columns">
                    <h4 style = "float:left;">
 
                    </h4>
                </div>  
                
                <hr>
                <br>
                <br>
 
           </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- -->
     {% endblock %}
</body>
</html>
