<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
</head>

<body>
    {% extends "base.html" %} {% block head %}
    <link href="" rel="stylesheet">{% endblock %} {% block content %} 
    <!-- SSAGES Team -->
    <br>
    <br>


    <div class="row">
        <div class="large-12 columns">
            <div>
                <h1>Meet the Team</h1>
                <br>
                <br> 
                <h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">SSAGES Core Developers</h2>

                <hr>
                             
                <div class="large-9 columns">
                    <h4 style=
                    "padding-bottom: 0px; padding-top: 0px;">SSAGES has primarily been developed by the groups of 
                    Juan J. de Pablo (at Argonne National Laboratory and the University of Chicago; pictured) and Jonathan K. Whitmer (at the University of 
                    Notre Dame; pictured).  Those who have contributed code, with a brief summary of their contributions
                    include:</h4>
                    <br>
                    <h4>
                        <ul style="padding-left: 30px; font-size: 22px">
                            <li>Hythem Sidky (Whitmer Group), main architecture, core functionality, methods</li>
                            <li>Ben Sikora (Whitmer Group), main architecture, core functionality, methods</li>
                            <li>Julian Helfferich (de Pablo Group), main architecture, core functionality, methods</li>
                            <li>Yamil Colon (de Pablo Group), methods, project coordination</li>
                            <li>Cody Bezik (de Pablo Group), methods</li>
                            <li>Josh Lequieu (de Pablo Group), methods</li>
                            <li>Emre Sevgen (de Pablo Group), methods</li>
                            <li>Hadi Ramezani (de Pablo Group), methods</li>
                            <li>Ashley Guo (de Pablo Group), methods</li> 
                            <li>Josh Moller (de Pablo Group), methods</li>
                            <li>Michael Webb (de Pablo Group), methods</li>
                        </ul>
                    </h4>
                </div>
                
                <div class="large-3 columns">
                    <a href="https://ime.uchicago.edu/de_pablo_lab"><img class="team-img" src="static/img/dePablo_16web.png"></a> <br> 
                    <a href="https://engineering.nd.edu/profiles/jwhitmer"><img class="team-img" src="static/img/whitmer.jpeg"></a> <br> 
                </div>

                <br>
                <br>
                <br>

                <hr>
                <br>
                <br>
               
                <h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">COPSS Core Developers</h2>

                <hr>
                             
                <div class="large-9 columns">
                    <h4 style=
                    "padding-bottom: 0px; padding-top: 0px;">COPSS has primarily been developed by the groups of 
                    Juan J. de Pablo (at Argonne National Laboratory and the University of Chicago; pictured), 
                    Olle Heinonen (at Argonne National Laboratory), 
                    Dima Karpeev (at Argonne National Laboratory; pictured), and 
                    Juan P. Hernandez-Ortiz (at Universidad Nacional de Colombia; pictured). 
                    Those who have contributed code, with a brief summary of their contributions
                    include:</h4>
                    <br>
                    <h4>
                        <ul style="padding-left: 30px; font-size: 22px">
                            <li>Jiyuan Li (de Pablo Group), main architecture and core functionality</li>
                            <li>Xikai Jiang (de Pablo Group, Heinonen Group), main architecture and core functionality</li>
                            <li>Xujun Zhao (de Pablo Group, Heinonen Group, Karpeev Group), main architecture and core functionality</li>
                        </ul>
                    </h4>
                </div>
                
                <div class="large-3 columns">
                    <!--<a href="https://ime.uchicago.edu/de_pablo_lab"><img class="team-img" src="static/img/dePablo_16web.png"></a> -->
                    <a href="http://www.msd.anl.gov/heinonen"><img class="team-img" src="static/img/ollie.jpg"></a> <br>
                    <a href=""><img class="team-img" src="static/img/karpeev.png"></a> <br>
                    <a href="http://www.unalmed.edu.co/~jphernandezo/"><img class="team-img" src="static/img/ortiz.png"></a> <br>
                </div>

                <br>
                <br>
                <br>

                <hr>
                <br>
                <br>
                
                <h2 style="text-align:center; padding-bottom: 0px; padding-top: 0px;">The
                Glotzer Group</h2>

                <hr>

                <div class="large-9 columns">
                    <h4 style="padding-bottom: 0px; padding-top: 0px;">
                        The Glotzer Group is led by Professor Sharon C. Glotzer and were valuable contributors to all projects.
                    </h4>
                </div> 
                
                <div class="large-3 columns">
                    <a href="http://glotzerlab.engin.umich.edu/home/"><img class="team-img" src="static/img/sglotzer.jpg"></a><br>    
                </div>
        
  
                <br>
                <br>

                <hr>
                <br>
                <br>
                
                <h2 style="text-align:center; padding-bottom: 0px; padding-top: 0px;">The
                Olvera de la Cruz Group</h2>

                <hr>
                
                <div class="large-9 columns"><h4 style=
                "padding-bottom: 0px; padding-top: 0px;">The
                Olvera de la Cruz Group is led by Professor Monica Olvera de la
                Cruz and were valuable contributors to all projects.</h4></div>
                <div class="large-3 columns">
                    <a href="http://glotzerlab.engin.umich.edu/home/"><img class="team-img" src="static/img/delacruz.jpg"></a><br>    
                </div>

                <hr>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- -->
     {% endblock %}
</body>
</html>
