<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
</head>

<body>
    {% extends "base.html" %} {% block head %}
    <link href="" rel="stylesheet">{% endblock %} {% block content %} 
    <!-- SSAGES Team -->
    <br>
    <br>


    <div class="row">
        <div class="large-12 columns">
            <div>
                <h1>Meet the Team</h1>
                <br>
                <br>
                <a href="https://ime.uchicago.edu/de_pablo_lab">
                <h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">The
                de Pablo Group</h2></a>

                <hr>
                             
                <div class="large-9 columns">
                    <h4 style=
                    "padding-bottom: 0px; padding-top: 0px;">The
                    de Pablo group is led by Professor Juan Jose de Pablo and has
                    contributed to the methods of SSAGES and COPPS.</h4>
                </div>
                
                <img class="team-img" style="height: 200px" src="static/img/dePablo_16web.png" width="20%">

                <br>
                <br>
                <br>

                <hr>
                <br>
                <br>
                <a href="https://engineering.nd.edu/profiles/jwhitmer">
                <h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">The
                Whitmer Group</h2></a>

                <hr> 

                <div class="large-9 columns"><h4 style=
                "padding-bottom: 0px; padding-top: 0px;">The
                Whitmer group is led by Professor Jonathan K. Whitmer and has
                contributed to the methods and architecture of SSAGES and
                COPPS.</h4></div>
                <img class="team-img" src="static/img/whitmer.jpeg" width="20%">
                <br>
                <br>

                <hr>
                <br>
                <br>
                <a href="http://glotzerlab.engin.umich.edu/home/">
                <h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">The
                Glotzer Group</h2></a>

                <hr>

                <div class="large-9 columns"><h4 style=
                "padding-bottom: 0px; padding-top: 0px;">The
                Glotzer Group is led by Professor Sharon C. Glotzer and</h4></div> 
                <img class="team-img" src="static/img/sglotzer.jpg" width="20%">
                <br>
                <br>

                <hr>
                <br>
                <br>
                <a href="http://aztec.tech.northwestern.edu/">
                <h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">The
                Olvera de la Cruz Group</h2></a>

                <hr>
                
                <div class="large-9 columns"><h4 style=
                "padding-bottom: 0px; padding-top: 0px;">The
                Olvera de la Cruz Group is led by Professor Monica Olvera de la
                Cruz and</h4></div>
                <img class="team-img" src="static/img/delacruz.jpg" width="20%">

                <br>
                <br>

                <hr>
                <br>
                <br>
                <a href="http://www.unalmed.edu.co/~jphernandezo/">
                <h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">The
                Hernandez-Ortiz Group</h2></a>

                <hr>
                
                <div class="large-9 columns"><h4 style=
                "padding-bottom: 0px; padding-top: 0px;">The
                Hernandez-Ortiz group is led by Professor Juan Pablo
                Hernandez-Ortiz and</h4></div>
                <img class="team-img"src="static/img/ortiz.png" width="20%">

        
                <br>
                <br>

                <hr>
                <br>
                <br>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- -->
     {% endblock %}
</body>
</html>
