/*.cc-selector {
	background-color:#eeeeee
}
	*/
	

.cc-selector input{
	background-color: #eeeeee
    margin:0;padding:0;
	background-image:none;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

#showmore_a{
	cursor:pointer;
	color:#42747f;
	font-weight:bold;
}

#showmore_b{
	cursor:pointer;
	color:#42747f;
	font-weight:bold;
}


.visa{background-image:url("img/ph1.png");}
.mastercard{background-image:url("img/pep.png");}
.pib{background-image:url("img/pib.png");}
.p_a{background-image:url("img/a.png");}
.p_b{background-image:url("img/b.png");}
.p_c{background-image:url("img/c.png");}
.p_d{background-image:url("img/d.png");}
.p_e{background-image:url("img/e.png");}
.p_f{background-image:url("img/f.png");}
.p_g{background-image:url("img/g.png");}
.p_h{background-image:url("img/h.png");}
.p_i{background-image:url("img/i.png");}
.p_j{background-image:url("img/j.png");}
.p_k{background-image:url("img/k.png");}
.p_l{background-image:url("img/l.png");}
.p_m{background-image:url("img/m.png");}
.p_n{background-image:url("img/n.png");}
.p_o{background-image:url("img/o.png");}
.p_p{background-image:url("img/p.png");}
.p_q{background-image:url("img/q.png");}
.p_r{background-image:url("img/r.png");}
.p_s{background-image:url("img/s.png");}
.p_t{background-image:url("img/t.png");}
.p_u{background-image:url("img/u.png");}

.cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector input:checked +.drinkcard-cc{
	opacity: .99;
	-webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:120px;height:150px;
    -webkit-transition: all 130ms ease-in;
       -moz-transition: all 130ms ease-in;
            transition: all 130ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(0) opacity(.1);
       -moz-filter: brightness(1.8) grayscale(0) opacity(.1);
            filter: brightness(1.8) grayscale(0) opacity(.1);
}

.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(0) opacity(.9) blur(0.5px);
	width: 120px;
	height: 150px;
	}



