@charset  "UTF-8";

a:hover {
    text-decoration: underline;
}

.index-vid {
    position: relative; 
    width:  320px;
    height: 240px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    padding: 1px 1px 20px 1px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.team-img {
    position: relative; 
    width:  200px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    padding: 1px 1px 20px 1px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.index-logo { 
    background-color: #FEFDFB !important;    
}

.download-img {
    position: relative; 
    width:  200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    padding: 1px 1px 20px 1px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.feature-img {
    /*position: relative;*/ 
    width:  300px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    padding: 1px 1px 20px 1px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header {
    text-align: center;
    background: #800000;
    background-size: cover;
    position: relative;
    overflow: visible;
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
}

.header .headline {
    color: #fefefe !important;
}

.header-subnav {
    float: none;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    bottom: 0;
    width: 100%;
}

.header-subnav li {
    float: none;
    display: inline-block;
}

.header-subnav li a {
    padding: .9rem 1rem;
    font-size: .75rem;
    color: #ffe;
    text-transform: uppercase;
    display: block;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .35s ease-in-out;
}

.header-subnav li a.is-active {
    background: rgba(250,250,250,0.15);
}

.header-subnav li a:hover {
    background: rgba(250,250,250,0.15);
    transition: all .35s ease-in-out;
}

html,body {
    background-color: #FEFDFB !important;
}

h1 {
    color: #587272 !important;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
}

h2 {
    color: #6d8383 !important;
    text-align: center;
    font-weight: 700;
}

h4 {
    color: #829595 !important;
    text-align: left;
}

small {
    color: #ccd4d4 !important;
}
.hero {
    background: url(http://www.banksy-wallpaper.com/wallpapers/800x600/10-i-am-father.jpg) no-repeat center center;
    background-size: cover;
    height: 50vh;
    overflow: hidden;
}

.hero h1,.hero h2 {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding: 1rem 0 0 1rem;
    margin: 0;
}

.row {
    max-width: 1200px;
}

.footer {
    background-color: #292c2f;
    text-align: center;
    font-size: 1.2rem;
    padding: 4rem;
}

.footer .inline-list a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin: 0 3px 0 0;
}

.footer .contact {
    list-style-type: none;
    margin: 0;
    text-align: left;
    color: #fff;
}

.footer .contact li {
    margin-bottom: 2rem;
}

.footer .contact li p {
    padding-left: 5rem;
}

.footer .contact i {
    position: absolute;
    background-color: #33383b;
    color: #fff;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1;
    margin: 0 0 0 -4rem;
    vertical-align: middle;
    padding: .25em .45em;
}

.footer .copywrite {
    color: #8f9296;
    font-size: .875rem;
    margin: 0 0 1rem;
}

.footer .about {
    color: #92999f;
    font-size: .875rem;
    margin: 0 0 1rem;
}

.footer .footer-links a {
    list-style: none;
    font-weight: 400;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: .875rem;
}

.footer .footer-links a::after {
    content: "•";
    padding: 0 .2rem 0 .4rem;
}

.footer .footer-links a:last-child::after {
    content: "";
    padding: 0 .4rem 0 .8rem;
}

@media only screen and (min-width: 40.063em) {
    .footer p {
        text-align: left;
    }

    .footer .social {
        text-align: left;
        margin: 0;
    }

    .footer .contact {
        text-align: left;
    }

    .footer .contact > i {
        margin-right: 1rem;
    }
}

.logo {
    color: #fff;
    font-size: 1.5rem;
}

.logo i {
    margin-right: .5rem;
}

@media only screen and (min-width: 40.063em) {
  .top-bar {
    background: #333333;
    overflow: visible; }
    .top-bar:before, .top-bar:after {
      content: " ";
      display: table; }
    .top-bar:after {
      clear: both; }
    .top-bar .toggle-topbar {
      display: none; }
    .top-bar .title-area {
      float: left; }
    .top-bar .name h1 a {
      width: auto; }
    .top-bar input,
    .top-bar .button,
    .top-bar button {
      font-size: 0.875rem;
      position: relative;
      top: 7px; }
    .top-bar.expanded {
      background: #333333; }

  .contain-to-grid .top-bar {
    max-width: 62.5rem;
    margin: 0 auto;
    margin-bottom: 0; }

  .top-bar-section {
    transition: none 0 0;
    left: 0 !important; }
    .top-bar-section ul {
      width: auto;
      height: auto !important;
      display: inline; }
      .top-bar-section ul li {
        float: left; }
        .top-bar-section ul li .js-generated {
          display: none; }
    .top-bar-section li.hover > a:not(.button) {
      background-color: #555555;
      background: #272727;
      color: white; }
    .top-bar-section li:not(.has-form) a:not(.button) {
      padding: 0 15px;
      line-height: 45px;
      background: #333333; }
      .top-bar-section li:not(.has-form) a:not(.button):hover {
        background-color: #555555;
        background: #272727; }
    .top-bar-section li.active:not(.has-form) a:not(.button) {
      padding: 0 15px;
      line-height: 45px;
      color: white;
      background: #000080; }
      .top-bar-section li.active:not(.has-form) a:not(.button):hover {
        background: #0078a0;
        color: white; }
    .top-bar-section .has-dropdown > a {
      padding-right: 35px !important; }
      .top-bar-section .has-dropdown > a:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: inset 5px;
        border-color: rgba(255, 255, 255, 0.4) transparent transparent transparent;
        border-top-style: solid;
        margin-top: -2.5px;
        top: 22.5px; }
    .top-bar-section .has-dropdown.moved {
      position: relative; }
      .top-bar-section .has-dropdown.moved > .dropdown {
        display: block;
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px); }
    .top-bar-section .has-dropdown.hover > .dropdown, .top-bar-section .has-dropdown.not-click:hover > .dropdown {
      display: block;
      position: static !important;
      height: auto;
      width: auto;
      overflow: visible;
      clip: auto;
      position: absolute !important; }
    .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
      border: none;
      content: "\00bb";
      top: 1rem;
      margin-top: -1px;
      right: 5px;
      line-height: 1.2; }
    .top-bar-section .dropdown {
      left: 0;
      top: auto;
      background: transparent;
      min-width: 100%; }
      .top-bar-section .dropdown li a {
        color: white;
        line-height: 45px;
        white-space: nowrap;
        padding: 12px 15px;
        background: #333333; }
      .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
        color: white;
        background: #333333; }
      .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button) {
        color: white;
        background-color: #555555;
        background: #272727; }
      .top-bar-section .dropdown li label {
        white-space: nowrap;
        background: #333333; }
      .top-bar-section .dropdown li .dropdown {
        left: 100%;
        top: 0; }
    .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
      border-bottom: none;
      border-top: none;
      border-right: solid 1px #4e4e4e;
      clear: none;
      height: 45px;
      width: 0; }
    .top-bar-section .has-form {
      background: #333333;
      padding: 0 15px;
      height: 45px; }
    .top-bar-section .right li .dropdown {
      left: auto;
      right: 0; }
      .top-bar-section .right li .dropdown li .dropdown {
        right: 100%; }
    .top-bar-section .left li .dropdown {
      right: auto;
      left: 0; }
      .top-bar-section .left li .dropdown li .dropdown {
        left: 100%; }

  .no-js .top-bar-section ul li:hover > a {
    background-color: #555555;
    background: #272727;
    color: white; }
  .no-js .top-bar-section ul li:active > a {
    background: #008cba;
    color: white; }
  .no-js .top-bar-section .has-dropdown:hover > .dropdown {
    display: block;
    position: static !important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
    position: absolute !important; } }

