<!DOCTYPE html>
<html ng-app="FloryApp">

	<head> 	
		<link rel="stylesheet" href="static/foundation/css/foundation.css">
		<link rel="stylesheet" href="static/flory.css">
		<script src = "static/foundation/js/vendor/jquery.js"> </script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="static/fh_controller.js"></script>
		<script src="static/angular-foundation-gh-pages/mm-foundation-tpls-0.8.0.min.js"></script>
	</head>

	<body ng-controller="ModalDemoCtrl" >
		<script src="static/foundation/js/foundation.min.js"></script>
	  	<script src="static/foundation/js/foundation/foundation.topbar.js"></script>
		<nav id='topb' class="top-bar" data-topbar data-options="is_hover:true"> 
		<ul class="title-area"> 
			<li class="name"> 
			<h1> <a href="/"> Materials Genome Project </a> </h1> 
			</li> <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone --> 
			<li class="toggle-topbar menu-icon"> 
			<a href="#"> <span>Polymers</span></a>
			</li> 
		</ul> 
		<section class="top-bar-section"> <!-- Right Nav Section --> 
		<ul class="right"> 
			<li class="active">
			<a href="/">Database</a>
			</li> 
			<li class="has-dropdown"> 
			<a href="#">Applications</a> 
			<ul class="dropdown"> 
				<li><a href="howto.html">How-To</a>
				</li>
				<li><a href="flory.html">Flory-Huggins</a>
				</li> 
				<li><a href="vorn.html">Voorn-Overbeek</a> 
				</li> 	
				<li><a href="slct.html">Lattice Cluster Theory</a> 
				</li> 	
				<li><a href="structurefactor.html">Structure Factor</a> 
				</li> 	
				<li><a href="saftdemo.html">SAFT EoS </a> 
				</li> 	
				<li><a href="scft_enqueue">Self Consistent Field Theory</a> 
				</li> 	
			</ul> 
			</li> 
		</ul> <!-- Left Nav Section --> 
		<ul class="left"> 
			<li>
			<a href="/howto.html">About</a>
			</li> 
		</ul> 
		</section> 
		</nav>




		<!-- CONTENT -->
		<div id = "Header" style="text-align: center;">
			<h1> Flory-Huggins Graph Generator </h1>
		</div>

		<div class="row">
			<h2> About </h2>
		</div>

		<div > <!-- class = "introduction"> !-->
			<div align="center" class="row">
				<h4> Flory-Huggins Solution Theory</h4>
			</div>
			<div class = "row">
				<p> Flory-Huggins solution theory offers a simple but powerful mathematical model of the thermodynamics of polymer blends. This model expounds on regular solution theory, by taking into account the dissimilarities between lengths of polymer chains. FH theory is derived by a simple lattice model, constraining each monomer onto a distinct lattice site, and similarly for solvent molecules.<sup>1,2 </sup> Using a mean-field and random mixing approximation, Flory-Huggins theory simplifies the possible configurations available and provides an expression for entropy and enthalpy of mixing.
				<div align="center" class="row">
					<h4> Limitations of Flory-Huggins</h4>
					<p> Flory himself noted the limitations of this theory<sup>1</sup>. Primarily, this is due to lack of a sufficient mathematical treatment of the individual composition of each polymer, as well as requirement of a strict lattice system. Similarly, FH theory does not account for a change of volume upon mixing, and the chi parameter is assumed to be independent of composition.
				</div>
				<hr>
				<div class="row">
					<h4> Using this App</h4>
					<p> The following code generates the free energy diagram as a function of volume fraction, including separate entropic and enthalpic contributions. In addition, a phase diagram predicting the LLE for the system is generated using a numerical root-finding algorithm to determine the binodal, while the spinodal is determined analytically. The critical values are also included, and representative values from the LLE equilibrium plot are displayed at the bottom of the page. In order to generate results, all 3 parameters: degree of polymerization for both species and a chi value, are necessary. </p>
				</div>

				{% if error %}
				<p class=error><strong>Error:</strong> {{ error }}
				{% endif %}
				<hr>
				<h4> Select Chi Value</h4>


				<form  data-abide name="myForm" action="/floryplot" method="post" ng-submit="myForm.$valid && open()"> 


					<div class="row">
						<div class="large-6 columns">
							<select name="dropdowna">
								<option value="none">Select Polymer</option>
								<option value="polystyrene">Polystyrene</option>
								<option value="tetrahydrofuran">THF</option>
								<option value="polyisoprene">Polyisoprene</option>
							</select>
						</div>

						<div class="large-6 columns">
							<select name="dropdownb">
								<option value="none">Select Polymer</option>
								<option value="polystyrene">Polystyrene</option>
								<option value="tetrahydrofuran">THF</option>
								<option value="polyisoprene">Polyisoprene</option>
							</select>
						</div>
					</div>

					<div class="row">
						<fieldset>
							<legend> Input Parameters </legend>

							<div class="large-4 columns">
								<label>Monomers of Species A
									<input  required  ng-model="nfa" type="text" name="NFA" placeholder="100" />
									<small class="error"> Please input a valid number.</small>
								</label>
							</div>

							<div class="large-4 columns">
								<label>Monomers of Species B
									<input required ng-model= "nfb"  type="text" name="NFB" placeholder="100" />
									<small class="error"> Please input a valid number.</small>
								</label>
							</div>

							<div class="large-3 columns">
								<label>Reference Volume
									<input required ng-model= "v0" type="text" name="v0" placeholder="1.0" />
									<small class="error"> Please input a valid number.</small>
								</label>
							</div>


							<div class="large-4 columns">
								<label> Chi Value
									<input required ng-model="chivalue" type="text" name="chivalue" placeholder="0.2" />
									<small class="error"> Please input a valid number.</small>
								</label>
							</div>

						</div>
						<br/>
						<br/>
						<br/>

						<!-- SUBMIT BUTTON -->
						<div class="row" >
							<div align="center">
								<input class="button"  ng-disabled="loading"  id="submitbutton" type="submit" name="florybutton" ng-submit='open()' value="Generate Profile!" data-reveal-id="myModal" >
							</div>

						</div>
					</form>


					<!-- CITATIONS and FOOTNOTES-->
					<div class="row">
						<hr>
						<p>1. Flory, P.J., "Thermodynamics of high polymer solutions" The Journal of Chemical Physics 10, 51 (1942); doi: 10.1063/1.1723621</p>

						<p>2. "Huggins, M.L., "Solutions of Long Chain Compounds" The Journal of Chemical Physics 9, 440 (1941); doi: 10.1063/1.1750930</p>
					</div>

				</div>
			</div>
			<br>

			<!-- MODAL code with mm.foundation stuff -->
			<div class="row">
				<div class="small-12 small-centered columns">
					<div ng-controller="ModalDemoCtrl">

						<script type="text/ng-template" id="myModalContent">
							<h3 align="center"> Loading Profile...</h3>
							<br>
							<p style="text-align:center">
							<img src="{{ url_for('static', filename='spinner.gif') }}" >
							</p>
						</script>


					</div>
				</div>
			</div>






			<!-- FOOTER -->
			<table style="margin:0;bottom:0;left:0;text-align:center;background-color:#42647F;">
				<tr>
					<td style="text-align:center">
						<a href="http://chimad.northwestern.edu/" target="_blank">
							<img width="75%" src="static/img/logo_ChiMaD_white@1x.png" alt="Center for Hierarchical Materials Design logo" />
						</a>
					</td>
					<td style="text-align:center">
						<a href="http://www.uchicago.edu/" target="_blank">
							<img width="100%" src="static/img/logo_UC_white@1x.png" alt="University of Chicago logo"/>
						</a>
					</td>
					<td style="text-align:center">
						<a href="http://www.northwestern.edu/" target="_blank">
							<img width="65%" src="static/img/logo_NU_white.png" alt="Northwestern University Design logo" />
						</a>
					</td>
					<td style="text-align:center">
						<a href="http://www.anl.gov/" target="_blank">
							<img width="85%" src="static/img/logo_ANL_white@1x.png" alt="Argonne National Laboratory logo" />
						</a>
					</td>
					<td style="text-align:center">
						<a href="http://www.nist.gov/" target="_blank">
							<img width="75%" src="static/img/logo_NIST_white@1x.png" alt="National Institute of Standards and Technology logo" />
						</a>
					</td>
					<td style="text-align:center">
						<a href="https://www.ci.uchicago.edu/" target="_blank">
							<img width="40%" src="static/img/logo_CI_white@1x.png" alt="Computation Institute logo" />
						</a>
					</td>
				</tr>
			</table>
		</div>


		<script>
			$(document).foundation();
		</script>
	</body>

</html>

