{% extends "base.html" %}
 
{% block head %}
{% endblock %}

{% block content %}
<script src="static/foundation/js/foundation/foundation.magellan.js"></script>
<div id = "Header" style="text-align: center;">
	<h1> Getting Started</h1>
</div>

<!-- Magellan Toolbar --!>
	<div data-magellan-expedition="fixed">
	  <dl class="sub-nav">
		<dd data-magellan-arrival="start"><a href="#start">Intro</a></dd>
		<dd data-magellan-arrival="flory"><a href="#flory">Flory-Huggins</a></dd>
		<dd data-magellan-arrival="voorn"><a href="#voorn">Voorn-Overbeek</a></dd>
		<dd data-magellan-arrival="slct"><a href="#slct">Lattice Cluster Theory</a></dd>
		<dd data-magellan-arrival="rpa"><a href="#rpa">RPA Structure Factor</a></dd>
		<dd data-magellan-arrival="saft"><a href="#saft">SAFT EoS</a></dd>
	  </dl>
	</div>

<div class = "row" id="howto">
	<br>
	<div align="center" class= 'large-9 large-centered columns'>
		<a name="start"></a>
		<h2 data-magellan-destination="start">Introduction</h2>

		<br>
		<br>
		<p>
The primary computational tool for prediction of structural, thermodynamic, and dynamic properties of functional polymers and block polymers must rely on a coarse-grained modeling approach capable of describing the structure and dynamics of soft matter, including block polymers during solvent mediated assembly, both in the bulk and in films
</p>
		<p>The following are a set of tools created in order to generate phase diagrams for polymer-polymer or polymer-solvent blends using coarse-grain models. These graphs function similarly, varying in their underlying theory and specificity of use. While each of the plot generators vary, the method to generate each plot is roughly the same. For all 3 options, the spinodal curve appears red while the binodal curve appears blue. Each plot has zoom options by drawing a box, or by selecting options on the bottom left of the plot. Also on the bottom right is the current mouse position. The current method of outputting a plot is through matplotlib and mpld3, but this is temporary and another plot generator may be used in the future. All numerical data is generated in simple python.
		</p>

		</p>
	</div>
	<hr>
<div class = "row" id="howto">
	
	<br>
	<div align="center" class= 'large-9 large-centered columns'>
		<a name="flory"></a>
		<h2 data-magellan-destination="flory"><a href="flory.html">Flory-Huggins</a></h2>

		</p>
		<br>
		<br>

		<p>The Flory Huggins model offers a lattice model of binary polymer blends. The plot generates both a spinodal curve (red) and a binodal (blue) as a function of the volume fraction of the volume fraction of the 1st species. The volume fraction is plotted against chi, which is inversely related to the temperature of the system. The “inside” of the spinodal curve represents conditions for instability, signifying that the binary blend will separate into 2 distinct phases. The area outside the binodal represents the stability condition necessary for a single miscible phase. In between the spinodal and binodal regions is the metastable phase.
		</p>
	</div>
	<hr>

	<div align="center" class= 'large-9 large-centered columns'>
		<a name="voorn"></a>
		<h2 data-magellan-destination="voorn"><a href="vorn.html">Voorn-Overbeek</a> </h2>
		<br>
		<br>

		<p>The Voorn-Overbeek model aims to describe complex coacervation behavior, which occurs when polyelectrolyte systems phase separate into a polymer-rich phase and a dilute, supernatant phase. This model therefore is more suited towards charged polymer systems. The current version of the VO Phase Generator assumes equal concentrations of the polyanion and polycation. Similarly, the current version of the system assumes a salt-free system. Given these assumptions, the current version of the phase generator only requires the total number of monomers, N, to generate the phase diagram. The output phase diagram is plotted as a function of the charge density, sigma. The plot generates both a spinodal curve (red) and a binodal (blue) as a function of the volume fraction of the volume fraction of the 1st species.
		</p>
	</div>


	<hr>
	<div align="center" class= 'large-9 large-centered columns'>
		<a name="slct"></a>
		<h2 data-magellan-destination="slct"><a href="/slct.html">Lattice Cluster Theory</a></h2>
		<br>
		<br>

		<p>The Simplified Lattice Cluster Theory is a generalized flory model which takes into account the connectivity of a polymer chain. Note that the Flory-Huggins phase generator does not take any parameter which offers details of chain structure or branching. Through counting methods, the connectivity of a polymer unit is accounted for into the theory, offering behaviors which deviate significantly from the more general Flory-Huggins model.
		</p>

		<p>	The current version of the SLCT phase generator has over 20 unique structures available, with 5 of these structures offering variable length. Thus, hundreds of possible combinations are available. In addition, the additional option for semiflexibility allows the incorporation of bending energies into the system, allowing additional control over predictions. Similar to the Flory-Huggins phase generator, calculation of LLE curves, as well as a data table and critical point are generated. For more detailed use information, please access the SLCT App page.
					</p>
			<p>
	</div>

	<hr>
	<div align="center" class= 'large-9 large-centered columns'>
		<a name="rpa"></a>
		<h2 data-magellan-destination="rpa"><a href="/structurefactor.html">Structure Factor</a></h2>
		<br>
		<br>

		<p>
		The random phase approximation is a mean-field approach to calculate the linear response of a polymer blend following a thermodynamic fluctuation. The app simply provides a calculation of this using 6 parameters: Monomers of A, B; Statistical segment length of A,B; Volume fraction of A; Chi parameter. 
		</p>
		<p> 
		The app outputs a plot of the data with representative values included in a table. Note: Chi values must be chosen reasonably, and a large chi value will not hold, provide unsavory (yet mathematically valid) results.
	</div>

	<hr>
	<div align="center" class= 'large-9 large-centered columns'>
		<a name="saft"></a>
		<h2 data-magellan-destination="saft"><a href="/saftdemo.html">SAFT EoS</a></h2>
		<br>
		<br>

	<p>
	SAFT, or Statistical Associating Fluid Theory, is a semiemperical equation of state that is founded on the basis of Wertheim's first-order perturbation theory. SAFT describes the Helmholtz free energy as the sum of a segment-segment interaction term, a chain-chain term, and an association term.
	</p>
	<p> In this current model, a series of approximations are implemented to provide a quick-running demo of a SAFT LLE calculation. The approximations implemented are as follows:
 
		<ul>
				<li>The molecules are not chains ie) no chain term</li>
				<li>Approximation as hard spheres</li>
				<li>Each association site is indistinguishable</li>
		</ul>
	
</p>
<p> The following is a live calculation for the Liquid-Liquid Equilibrium of methanol with 3 association sites.
		</p>
	</div>
	<hr>

	<!-- have to keep this for some reason the last div shifts --!>
	<div class= 'large-8 columns'>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

	</div>

</div>
</div>


{% endblock %}
