<!DOCTYPE html>
<html>
<head>
    <title>
    </title>
</head>

<body>
    {% extends "base.html" %} {% block head %}
    <link href="" rel="stylesheet">{% endblock %} {% block content %} 
    <!-- SSAGES INFO -->
    <br>
    <br>
    <!-- ABOUT -->


    <div class="row">
        <div class="large-12 columns">
            <div>
 <h1>Welcome</h1><br><br>
                <h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">
                About</h2>

                <hr>


                <h4 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">
                This website hosts the software suites <strong>SSAGES (Software
                Suite for Advanced General Ensemble Simulations)</strong> and
                <strong>COPSS (Continuum--Particle Simulation Suite)</strong>
                which augment standard molecuar dynamics and Monte-Carlo codes,
                permitting particle--field coupling (COPSS), calculation of
                reaction coordinates and reactive pathways, and free energies
                (SSAGES). Each presents not only a set of methods, but also
                aims to provide a <strong>unified, extensible framework
                adaptable to generic molecular simulations.</strong></h4>
                <br>
                <br>


                <h4>IME codes SSAGES and COPSS are <strong>open-source</strong>
                and distributed under the <strong>BSD 3-clause
                license.</strong></h4>

                <hr>
                <br>
                <br>


                <h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">
                Seamless Integration</h2>

                <hr>


                <h4>SSAGES and COPSS are designed from the ground up to connect
                to arbitrary molecular simulation codes through minimal
                programming effort. Initial releases target specific
                interoperability with open-source codes GROMACS and LAMMPS, and
                will grow to incorporate other <strong>open-source,
                proprietary, and bespoke codes.</strong></h4>

                <hr>
                <br>
                <br>


                <h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">
                SSAGES</h2>

                <hr>


                <h4>SSAGES implements several methods for reactive pathway
                identification and free energy measurement, including
                <strong>Forward Flux Sampling, Metadynamics, and Nudged Elastic
                Band methods.</strong></h4>

                <hr>
                <br>
                <br>


                <h2 style=
                "text-align:center; padding-bottom: 0px; padding-top: 0px;">
                COPPS</h2>

                <hr>


                <h4>The <strong>continuum--particle coupling</strong> provided
                by COPSS enables the spanning of multiple timescales in
                simulation. The initial suite of routines is built around the
                General-geometry Ewald-like Method (GgEM) which enables
                simulations such as that shown below, where a discrete polymer
                chain, modeling DNA, is embedded in a background solvent, and
                confined to a nanoscopic channel; <strong>without coupling
                algorithms such as GgEM, such simulations are
                impossible.</strong></h4>

                <hr>
                <br>
                <br>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <!-- -->
     {% endblock %}
</body>
</html>
