<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="css/foundation.css"> 
        <link rel="stylesheet" href="css/stylef.css">
        <link href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet">
        <style> 
            td.details-control {
                    background: url('img/details_open.png') no-repeat center center;
                        cursor: pointer;
            }
            tr.shown td.details-control {
                    background: url('img/details_close.png') no-repeat center center;
            }
        </style>
</head>
<body>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>
        <script>
		console.log('hi');
		$( document ).ready(function() {

		function loadChiTable(name){
			alert(name);
			var values = {"polymer" : name};
                        $.ajax({
				method: "POST",
				//url: "/chis?polymer=" + name,
				url: "/chis",
				contentType: "application/json",
				data:  JSON.stringify(values)
			}).done(function( results ) {
                                $('#chitable').dataTable({
					"bProcessing": true,
					"aaData": results,// <-- your array of objects
					"aoColumns": [
						{
							"className":      'details-control',
							"orderable":      false,
							"data":           null,
							"defaultContent": '',
							"width" : "50px"
                                        	},
						{ "title" :  "Polymer", "mData": "polymer" }, // <-- which values to use inside object
						{ "title" :  "&chi;", "mData": "chi" },
						{ "title" :  "A", "mData": "chi_a" },
						{ "title" :  "B", "mData": "chi_b" },
						{ "title" :  "C", "mData": "chi_c" },
						{ "title" :  "T", "mData": "temperature" },
						{ "title" :  "T unit", "mData": "tempunit" },
						{ "title" :  "Method", "mData": "method" },
						{ "title" :  "DOI", "mData": "doi" },
					],
 					"columnDefs": [{
    						"targets": 9,
    						"data": "DOI",
    						"render": function ( data, type, full, meta ) {
							var shortdoi = data.replace("10.1021/","");
      							return '<a target="_blank" href="http://dx.doi.org/'+data+'">'+shortdoi+'</a>';
    						}
  					}]
                                 });         

                	});
		}

	
                function formatExpansion ( d ) {
                        // `d` is the original data object for the row
                        addtable = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
			for (var key in d) {
  				if (d.hasOwnProperty(key)) {
					if (key == 'chimax' || key == 'tempmax' || key == 'reference'){
						if (key == 'reference' && d[key].search('DOI:') != -1){
							// Reference is not always DOI
							// Still it is the most common case and sometimes
							// there are multiple DOIS. So we check for the case
							// and process it
							var dois = d[key].split(";");
							var links = '';
						        for (i in dois){
								doi = dois[i].replace("DOI: ","");
								link = '<a target="_blank" href="http://dx.doi.org/'+doi+'">' + doi.replace("10.1021/","") + '</a>';
							
								links = links + link + ";"; 
							}
							addtable = addtable + '<tr>' +
							'<td>' + key + ':</td>' +
							'<td>' + links + '</td>' +
							'</tr>';
						
						}else{
							addtable = addtable + '<tr>' +
							'<td>' + key + ':</td>' +
							'<td>' + d[key] + '</td>' +
							'</tr>';
						}
					}
  				}
			}
			addtable = addtable + '</table>';
			return addtable;
                }
                 // Add event listener for opening and closing details
                $('#chitable').on('click', 'td.details-control', function () {
                            var table = $('#chitable').DataTable();
                            var tr = $(this).closest('tr');
                            var row = table.row( tr );
                                             
                            if ( row.child.isShown() ) {
                                // This row is already open - close it
                                row.child.hide();
                                tr.removeClass('shown');
                            }
                             else {
                                row.child( formatExpansion(row.data()) ).show();
                                tr.addClass('shown');
                             }
                });
		
                function getWiki(name){
			// Form wikipedia api with polymer as title
			wikiurl = "https://en.wikipedia.org/wiki/" + name
			$.getJSON("http://en.wikipedia.org/w/api.php?action=query&prop=revisions&rvprop=content&titles="+name+"&format=json&callback=?", function(data) {
				// Now get the first paragraph
				// Manipulation is needed to get rid of wikipedia formating
				// perhaps html would simplify this but symbols are {{}} ''' etc.
				// FIXME: Still problems with this {first|second}
				// in polystyrene aromaticity|aromatic, we only need one.
				var firstpar = JSON.stringify(data).split('\\n\\n')[1];
				firstpar = firstpar.replace(/\{{2}[^\]]+\}{2}/ig, "");
				firstpar = firstpar.replace(/\<ref[^\]]+\>/ig,'');
				firstpar = firstpar.replace(/\\/g, '');
				firstpar = firstpar.replace(/'''/ig, '');
				firstpar = firstpar.replace(/"/g,'');
				firstpar = firstpar.replace(/\[{2}/g,'');
				firstpar = firstpar.replace(/\]{2}/g,'');
				$("#resultdiv").text(JSON.stringify(firstpar)).html();
				$("#wikilink").attr('href', wikiurl)
			});
		}

		// Get html query parameters
		function getParameterByName(name) {
			name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
			var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
			    results = regex.exec(location.search);
			return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
		}

		// Get query parameter
		var pol = getParameterByName('polymer');

		// Get wikipedia for this polymer
		getWiki(pol);

		// Load DB data for this polymer
		loadChiTable(pol);

		// Format polymer name for heading
		pol = pol.toUpperCase();
		$('#title').text(pol);

		// FIXME: Loading datatables script on button click, otherwise 
		// it does not get loaded
		$('#container').on('click', '#btn', function(){
			$('#chitable').DataTable();
	    	});
		});
	</script>

        <nav class="top-bar" data-topbar data-options="is_hover:true">
                <ul class="title-area">
                        <li class="name">
                                <h1> <a href="/"> Materials Genome Project </a> </h1>
                        </li> 
                        <li class="toggle-topbar menu-icon">
                                <a href="#"> <span>Polymers</span></a>
                        </li>
                </ul>
                <section class="top-bar-section"> <!-- Right Nav Section -->
                        <ul class="right">
                                <li class="active">
                                        <a href="#">Applications</a>
                                </li>
                                <li class="has-dropdown">
                                        <a href="#">Popular Apps</a>
                                                <ul class="dropdown">
                                                        <li><a href="howto.html">How-To</a>
                                                        </li>
                                                        <li><a href="flory.html">Flory-Huggins</a>
                                                        </li>
                                                        <li><a href="vorn.html">Voorn-Overbeek</a>
                                                        </li>
                                                        <li><a href="slct.html">SLCT</a>
                                                        </li>
                                                        <li><a href="structurefactor.html">Structure Factor</a>
                                                        </li>
                                                        <li><a href="saftdemo.html">SAFT</a>
                                                        </li>
                                                </ul>
                                </li>
                        </ul> <!-- Left Nav Section -->
                        <ul class="left">
                                <li>
                                        <a href="/howto.html">About</a>
                                </li>
                        </ul>
                </section>
        </nav>
       <section>
        <div id="Header">
                <div id= "Heading">
                        <div class="row">
                                <div class="large-4 columns">
                                        <h1 id="Mat">Materials</h1>
                                </div>
                                <div class="large-4 columns">
                                        <h1 id="Gen">Genome</h1>
                                </div>
                                <div class="large-4 columns">
                                        <h1 id="Pro">Project </h1>
                                </div>
                        </div>
                </div>
               <table style="border:none;background-color: #42647F;"><tr><td style="text-align:center"><img src="img/drawing.png" style="height:100px"/></td></tr></table>
        </div>
        <div class="layer">
        <p> </p>
        </div>
        <div class="introduction">
                <div class = "row">
                        <div class = "about">
                                <h2 id="title"> </h2>
                                <div id="resultdiv"></div>
				<img src="img/wikipedia-logo.png" style="height:25px"/><a id="wikilink" href="" target="_blank"> Read more on Wikipedia, the Free Encyclopedia</a>
                                <br />
                                <br />
                                <br />
                                    <h4 id="tabletitle" >Flory-Huggins (&chi;)</h4>
                                    <table id="chitable" class="display" cellspacing=\"0\" width=\"100%\">
                                 </table>
                                    <h4 id="tabletitle" >Glass Transition Temperature (Tg)</h4>
				    <p>Coming Soon</p>
                        </div>
                </div>
        </div>
	<br>
       	</section>
         <br>
 <table style="margin:0;bottom:0;left:0;text-align:center;background-color:#42647F;">
                <tr>
                        <td style="text-align:center">
                                <a href="http://chimad.northwestern.edu/" target="_blank">
                                        <img width="75%" src="img/logo_ChiMaD_white@1x.png" alt="Center for Hierarchical Materials Design logo" />
                                </a>
                        </td>
                        <td style="text-align:center">
                                <a href="http://www.uchicago.edu/" target="_blank">
                                        <img width="100%" src="img/logo_UC_white@1x.png" alt="University of Chicago logo"/>
                                </a>
                        </td>
                        <td style="text-align:center">
                                <a href="http://www.northwestern.edu/" target="_blank">
                                        <img width="65%" src="img/logo_NU_white.png" alt="Northwestern University Design logo" />
                                </a>
                        </td>
                       <td style="text-align:center">
                                <a href="http://www.anl.gov/" target="_blank">
                                        <img width="85%" src="img/logo_ANL_white@1x.png" alt="Argonne National Laboratory logo" />
                                </a>
                        </td>
                        <td style="text-align:center">
                                <a href="http://www.nist.gov/" target="_blank">
                                        <img width="75%" src="img/logo_NIST_white@1x.png" alt="National Institute of Standards and Technology logo" />
                                </a>
                        </td>
                        <td style="text-align:center">
                                <a href="https://www.ci.uchicago.edu/" target="_blank">
                                        <img width="40%" src="img/logo_CI_white@1x.png" alt="Computation Institute logo" />
                                </a>
                        </td>
                </tr>
        </table>
	</body>
</html>
