{% extends "base.html" %}
 
{% block head %}{% endblock %}

{% block content %}
	<div id = "Header" style="text-align: left;">
		<h1> Structure Factor Graph Generator </h1>
	</div>

	<div class = "introduction">
		<div class="row">
		<h2> About </h2>
		</div>

<!-- Para1 --!>
	<div align="center"class = "row">
		<h4> Random-Phase Approximated Structure Factor</h4>
		<p>
		The random phase approximation is a mean-field approach to calculate the linear response of a polymer blend following a thermodynamic fluctuation. This, roughly, tells us how the arrangement of our atoms and components, influences the intensity of the scattered beam. For more structurally detailed calculations, please refer to the LCT calculation of the structure factor (coming soon).
		</p>
	</div>
<hr>
<!-- Para2 --!>
	<div class="row">
		<h4> Using this App</h4>
		<p>  The app simply provides a calculation of this using 6 parameters: Monomers of A, B; Statistical segment length of A,B; Volume fraction of A; Chi parameter. The app outputs a plot of the data with representative values included in a table. Note: Chi values must be chosen reasonably, and a large chi value will not hold, provide unsavory (yet mathematically valid) results.
		</p>
	</div>


	</div>
</div>


		</div>
	<form autocomplete="on" action="/sfplot" method="post" data-abide>
				<div class="row">
		<fieldset>
			<legend> Input Parameters </legend>
				<div class="row">
					<div class="large-6 columns">
						<label>Number of Monomers A
								<input required pattern="number" type="text" placeholder="100" name = "Na" />  
								<small class="error"> Please input a valid number.</small>
						</label>
					</div>
					<div class="large-6 columns">
						<label>Number of Monomers B
								<input required pattern="number" type="text" placeholder="100" name = "Nb" />  
								<small class="error"> Please input a valid number.</small>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="large-6 columns">
						<label> Statistical Segment Length,A
								<input required pattern="number" type="text" placeholder="1.0" name = "Ba" />  
								<small class="error"> Please input a valid number.</small>
						</label>
					</div>
					<div class="large-6 columns">
						<label> Statistical Segment Length,b
								<input required pattern="number" type="text" placeholder="1.0" name = "Bb" />  
								<small class="error"> Please input a valid number.</small>
						</label>
					</div>
				</div>
				<div class="row">
					<div class="large-6 columns">
						<label> Volume Fraction,A
								<input required pattern="number" type="text" placeholder="0.5" name = "phia" />  
								<small class="error"> Please input a valid number.</small>
						</label>
					</div>
					<div class="large-6 columns">
						<label> Chi Parameter
								<input required pattern="number" type="text" placeholder="0.01" name = "chi" />  
								<small class="error"> Please input a valid number.</small>
						</label>
					</div>
				</div>

				<div align="center">
					<input class="button" type="submit" name = 'sfbutton' value="Generate Plot!" />
				</div>
			</div>
		</div>
				
	</form>
		<br>
		<br>
		<br>
</div>
<!-- Added jQuery at the End --!>
{% endblock %}
