{% extends "base.html" %} 

{% block head %}
	<meta charset="utf-8" />
	<link rel="stylesheet" href="static/app.css" />
{% endblock %}

{% block content %}
	<div id = "Header" style="text-align: left;">
		<h1> Results </h1>
	</div>

	<div class="row">
		<h2> Generated Plots... </h2>
		{% for plot in list_of_plots %}
			<div class = "card">
				<div id="{{ plot['id'] }}" class = "large-8 large-centered columns">
				</div>
			</div>
				<br>
				<br>
		{% endfor %}
		<script type="text/javascript">
			{% for plot in list_of_plots %}
				mpld3.draw_figure("{{ plot['id'] }}", {{ plot['json']|safe }});
			{% endfor %}
		</script>
		</div>
	</div>

	<br>

	<div class = "row">
		<h2> Critical Point </h2>

	<div class = "card">
			<br>
			<div class = "large-12 columns">
				<table>
				  <thead>
					<tr>
					  <th width="150">Critical Volume Fraction</th>
					  <th width="150">Critical Temperature</th>
					</tr>
				  </thead>
				  <tbody>
						<tr>
							<td> {{ critphi[0] }} </td>
							<td> {{ critphi[1] }} </td>
						</tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>


	<br>
	<div class = "row">
		<h2> Data Table </h2>
		<div class= "card">
			<br>
			<div class = "large-12 columns">
	<table>
	  <thead>
		<tr>
		  <th width="100">Volume Fraction</th>
		  <th width="150">Spinodal</th>
		  <th width="150">Binodal</th>
		</tr>
	  </thead>
	  <tbody>
		{% for row in zipped %}
			<tr>
				<td> {{ row[0] }} </td>
				<td> {{ row[1] }} </td>
				<td> {{ row[2] }} </td>
			</tr>
		{% endfor %}
	  </tbody>
	</table>
</div>
</div>
</div>
	{% endblock %}
